@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #000;
}

:root{
    --bgColor: #232327;
    --primaryColor: #36A6D7;
    --thirdColor: #D73636;
    --altColor: #D9D9D9;
}

img{
    display: block;
    max-width: 100%;
}

.heading{
    text-align: center;
    margin: 3rem;
    text-transform: uppercase;
}

.custom-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 2rem;
    margin: 3rem;
    border-radius: 10px;
}